<div class="container-fluid blog-detail">
  <div class="row">
    <div class="col contain-gutter">&nbsp;</div>
  </div>
  <div class="row article">
    <div class="col gutter">&nbsp;</div>
    <div class="col-8 display">
      <div class="group-section" *ngIf="blogData?.article_group !== null">
        This article is part of a group
        <a [routerLink]="['/blog/group', blogData.article_group.article_group_id]">click here</a>
        to view the entire group or
        <a [routerLink]="'/blog/list'">click here</a> to go back to posts.
      </div>
      <div class="group-section" *ngIf="blogData?.article_group === null">
        <a [routerLink]="'/blog/list'">Back to Posts</a>
      </div>
      <div class="user-section" *ngIf="blogData?.app_user !== null">
        <div>Article by {{blogData.app_user.firstname}} {{blogData.app_user.lastname}}</div>
        <div>Published on {{blogData.date_to_publish}}</div>
      </div>
      <div><h2>{{blogData?.title}}</h2></div>
      <div [innerHtml]="blogData?.content"></div>
    </div>
    <div class="col gutter">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col contain-gutter">&nbsp;</div>
  </div>
</div>

<div *ngIf="hasError" [config]="{ show: true }" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Cannot View Article</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>
