.blog-detail {
  .group-section {
    font-size: 0.9rem;
  }

  .user-section {
    font-size: 0.75rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .contain-gutter {
    background-color: gray;
  }

  .article {
    .gutter {
      background-color: gray;
    }

    .display {
      padding: 20px;
    }
  }
}
