<div class="container-fluid">
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-8">
      <div *ngFor="let item of blogListData; index as i; even as isEven; odd as isOdd">
        <app-blog-list [data]="item"
                       [blogDetailUrl]="'/blog/detail'"
                       [payToView]="isPayToViewEnabled(item)"
                       [disabled]="isArticleDisabled(item)"
                       (payButtonClicked)="onPayButtonClicked($event)"></app-blog-list>
      </div>
    </div>
    <div class="col">&nbsp;</div>
  </div>
</div>
