<div class="container-fluid">
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-8"><a routerLink="/blog/group-list">Back to Stories</a></div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-8"><h2>{{blogGroupData?.title}}</h2></div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row" *ngFor="let item of blogGroupListData">
    <div class="col">&nbsp;</div>
    <div class="col-1">&nbsp;</div>
    <div class="col-7">
      <app-blog-list [data]="item"
                     [blogDetailUrl]="'/blog/detail'"
                     [payToView]="isPayToViewEnabled(item)"
                     [disabled]="isArticleDisabled(item)"
                     (payButtonClicked)="onPayButtonClicked($event)">
      </app-blog-list>
    </div>
    <div class="col">&nbsp;</div>
  </div>
</div>
