<div class="container-fluid">
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-8">
      <div *ngFor="let item of blogGroupListData">
        <app-blog-group [data]="item" [blogGroupUrl]="'/blog/group'" [isAdmin]="false"></app-blog-group>
      </div>
    </div>
    <div class="col">&nbsp;</div>
  </div>
</div>
