<div class="col blog-group" [routerLink]="[blogGroupUrl, data.article_group_id]">
  <div class="row">
    <div class="col-11">
      <div>&nbsp;</div>
      <div>{{data.title}}</div>
      <div>&nbsp;</div>
    </div>
    <div class="col" *ngIf="isAdmin">
      <div>&nbsp;</div>
      <a class="remove-button" (click)="onRemoveClicked()">X</a>
    </div>
  </div>
</div>
