<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-6">User Login</div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-6">
      <div class="col">
        <form novalidate [formGroup]="form" (submit)="onSubmit()">
          <div class="form-group">
            <app-input [type]="'email'" [placeholder]="'Username / Email'" [control]="form.controls.username"></app-input>
          </div>
          <div class="form-group">
            <app-input [type]="'password'" [placeholder]="'Password'" [control]="form.controls.password"></app-input>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div>&nbsp;</div>
      <div class="col error-text" *ngIf="hasLoginError === true">
        Login Failed
      </div>
    </div>
    <div class="col">&nbsp;</div>
  </div>
</div>
