<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" *ngIf="isAdminSite === false">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavbar" aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mobileNavbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/blog">Posts</a>
      <a class="nav-item nav-link" routerLink="/blog/group-list">Stories</a>
      <a class="nav-item nav-link" routerLink="/about">About</a>
    </div>
    <div class="navbar-nav ml-auto" *ngIf="isLoggedIn === false">
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/registration">Sign Up</a>
    </div>
    <div class="navbar-nav ml-auto" *ngIf="isLoggedIn === true">
      <a class="nav-item nav-link" routerLink="/account/cart">
        <i class="fa fa-shopping-cart"></i>
        <span *ngIf="itemsInCart > 0" class="badge badge-light">{{itemsInCart}}</span>
      </a>
      <a class="nav-item nav-link" routerLink="/account/profile">Profile</a>
      <a class="nav-item nav-link clickable-link" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" *ngIf="isAdminSite === true">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavbarAdmin" aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mobileNavbarAdmin">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/admin/dashboard">Home</a>
      <a class="nav-item nav-link" routerLink="/admin/blog-post">New Post</a>
      <a class="nav-item nav-link" routerLink="/admin/blog-post-group">New Post Group</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link clickable-link" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
