<div class="container-fluid">
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-8">
      <a routerLink="/admin/dashboard">Back to Dashboard</a>
    </div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-8">
      <div class="col">
        <form novalidate [formGroup]="form" (submit)="onSubmit()">
          <div class="form-group">
            <select class="form-control" [formControl]="form.controls.articleGroup">
              <option [disabled]="true" value="null">Select Article Group</option>
              <option *ngFor="let group of blogPostGroups" [ngValue]="group.article_group_id">{{group.title}}</option>
            </select>
          </div>
          <div class="form-group">
            <app-input [placeholder]="'Article Title'" [control]="form.controls.title"></app-input>
          </div>
          <div class="form-group">
            <ngb-beehive-wysiwyg [formControl]="form.controls.content"></ngb-beehive-wysiwyg>
          </div>
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Date To Publish"
                   [formControl]="form.controls.dateToPublish"
                   bsDatepicker
                   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" (bsValueChange)="onDateValueChanged($event)" />
          </div>
          <div class="form-group">
            <app-input [placeholder]="'Price'" [control]="form.controls.price"></app-input>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="col">&nbsp;</div>
  </div>
</div>
