<div class="container-fluid">
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-8">
      <a routerLink="/admin/dashboard">Back to Dashboard</a>
    </div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-8">
      <div class="col">
        <form novalidate [formGroup]="form" (submit)="onSubmit()">
          <div class="form-group">
            <app-input [placeholder]="'Title'" [control]="form.controls.title"></app-input>
          </div>
          <div class="form-group">
            <input id="show_all_links" type="checkbox" [formControl]="form.controls.showAllLinks" />&nbsp;
            <label for="show_all_links">Show All Links</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
</div>
