<div class="container-fluid">
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-8">
      <div class="col">
        <form novalidate [formGroup]="form" (submit)="onSubmit()">
          <div class="form-group">
            <app-input [placeholder]="'First Name'" [control]="form.controls.firstName"></app-input>
          </div>
          <div class="form-group">
            <app-input [placeholder]="'Last Name'" [control]="form.controls.lastName"></app-input>
          </div>
          <div class="form-group">
            <app-input [placeholder]="'Phone Number'" [control]="form.controls.phoneNumber"></app-input>
          </div>
          <div class="form-group">
            <app-input [placeholder]="'Email'" [control]="form.controls.email"></app-input>
          </div>
          <div class="form-group">
            <app-input [placeholder]="'Username'" [control]="form.controls.username"></app-input>
          </div>
          <div class="form-group">
            <app-input [type]="'password'"
                       (blur)="onPasswordChanged($event)"
                       [placeholder]="'Previous Password'"
                       [control]="form.controls.previousPassword"></app-input>
            <span style="color: green" *ngIf="oldPasswordValidated === true">Password Validated</span>
            <span style="color: red" *ngIf="oldPasswordValidated === false">Password Not Validated</span>
          </div>
          <div class="form-group">
            <app-input [type]="'password'"
                       [placeholder]="'New Password'"
                       [control]="form.controls.newPassword" [attr.disabled]="oldPasswordValidated !== true"></app-input>
          </div>
          <div class="form-group">
            <app-input [type]="'password'"
                       [placeholder]="'Verify Password'"
                       [control]="form.controls.verifyPassword"
                       [showParentErrors]="true"></app-input>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="col">&nbsp;</div>
  </div>
</div>
