.cart {
  .headers {
    font-weight: bold;
  }

  .footers {
    font-weight: bold;
  }

  .remove-link {
    cursor: pointer;
  }

  .payment-section {
    border: solid 1px #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  fieldset {
    border: solid 1px #ccc;
    padding: 10px;

    legend {
      width: 250px;
      padding-left: 10px;
    }
  }
}
