<div class="container-fluid cart">
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-8">
      <div class="row">
        <div class="col-8 headers">Article</div>
        <div class="col headers">Price</div>
      </div>
      <div class="row" *ngFor="let article of articles">
        <div class="col-8">{{article.title}}</div>
        <div class="col-3">${{article.price.toFixed(2)}}</div>
        <div class="col"><span class="remove-link" (click)="onRemoveClick(article)">&times;</span></div>
      </div>
      <div class="row">
        <div class="col">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-8 footers">Total Price</div>
        <div class="col-3">${{articleTotalPrice.toFixed(2)}} (AUD)</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row" *ngIf="articleTotalPrice > 0">
    <div class="col">&nbsp;</div>
    <div class="col-8">
      <fieldset>
        <legend>Payment Information</legend>
        <form novalidate [formGroup]="form">
          <div class="form-group">
            <app-input [placeholder]="'Full Name'" [control]="form.controls.name"></app-input>
          </div>
          <div class="form-group">
            <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!showPaymentButton" (click)="onPurchaseClick()">Purchase</button>
        </form>
      </fieldset>
    </div>
    <div class="col">&nbsp;</div>
  </div>
</div>

<div *ngIf="isPaymentSuccessful" [config]="{ show: true }" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-auto-name" class="modal-title pull-left">Payment Successful</h4>
      </div>
      <div class="modal-body">
        <p>Your payment was successful <a routerLink="/">Click here</a> to return to the home page.</p>
      </div>
    </div>
  </div>
</div>
