<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="col">Blog Post</div>
      <div class="col" *ngFor="let item of blogListData">
        <app-blog-list [data]="item"
                       [isAdmin]="true"
                       [blogDetailUrl]="'/admin/blog-post'"
                       (removeClicked)="removePost($event)"></app-blog-list>
      </div>
      <div class="col">
        <a routerLink="/admin/blog-post"><button class="btn btn-primary">New Post</button></a>
      </div>
    </div>
    <div class="col-6">
      <div class="col">Blog Post Group</div>
      <div class="col" *ngFor="let group of blogGroupData">
        <app-blog-group [data]="group"
                        [isAdmin]="true"
                        [blogGroupUrl]="'/admin/blog-post-group'"
                        (removeClicked)="removeGroup($event)"></app-blog-group>
      </div>
      <div class="col">
        <a routerLink="/admin/blog-post-group"><button class="btn btn-primary">New Group</button></a>
      </div>
    </div>
  </div>
</div>
