/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker';

.error-text {
  color: #f00;
}

.clickable-link {
  cursor: pointer;
}

.textbox-success {
  border-color: #0f0;
}

.textbox-failure {
  border-color: #f00;
}
