.app-blog-list {
  margin: 5px 0;
  background: #fff;
  cursor: pointer;
  position: relative;

  .disabled {
    pointer-events: none;
    color: #ccc;
    border-color: #ccc;
  }

  &.enabled:hover {
    background: linear-gradient(90deg, #ceced2, #9c9ca3);
  }

  .remove-button {
    cursor: pointer;
  }

  .amount-text {
    font-size: 0.75rem;
    margin: auto;
  }

  .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    padding-left: 15px;
    padding-right: 15px;
    background-color: lightgray;
    cursor: not-allowed;

    .content {
      position: absolute;
      z-index: 3;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
