<div class="col app-blog-list" [class.enabled]="!disabled && !payToView">
  <div class="row" [routerLink]="[blogDetailUrl, data.article_id]">
    <div class="col-11">
      <div>&nbsp;</div>
      <div>{{data.title}}</div>
      <div [innerHTML]="showPreviewContent()"></div>
      <div>&nbsp;</div>
    </div>
    <div class="col" *ngIf="isAdmin">
      <div>&nbsp;</div>
      <a class="remove-button" (click)="onRemoveClicked()" tooltip="Remove">X</a>
    </div>
  </div>

  <div class="overlay" *ngIf="payToView">
    <div class="container content">
      <div class="row">
        <div class="col-2">
          <button class="btn btn-secondary"
                  popover="You must pay before the article will be activated"
                  triggers="click"
                  (click)="onPayToViewClicked()">Pay To View</button>
        </div>
        <div class="col amount-text">${{data.price.toFixed(2)}}</div>
      </div>
    </div>
  </div>

  <div class="overlay" *ngIf="disabled && !payToView">
    <div class="container content">
      <div class="row">
        <div class="col">Login to view post</div>
      </div>
    </div>
  </div>
</div>
